@use "@material/card";

@include card.core-styles;

@import "colors";

.dashlet {
  @extend .mdc-card;

  @include card.fill-color($primaryColor);
  @include card.shape-radius(5px, true);

  color: black;
  min-width: 200px;
  height: 100%;

  .mdc-card__primary-action {
    height: inherit;
  }
}

.dashlet-content {
  padding: 10px;
}

.dashlet-title {}

.dashlet-message {
  font-size: larger;
  font-weight: bold;
}
