---
---
@import "{{ site.theme }}";

@import "colors";
@import "dash.css";

#downloads {
  display: none;
}

header {
  border-bottom: 1px solid $primaryColor;
}

header h1 {
  color: $primaryColor;
  margin: 0;
}

header h1:before {
  content: "";
}

header h2 {
  margin: 0;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
}

.flex-grid .col {
  flex: 1;
  margin: 5px;
  min-width: 30%;
}

@media (max-width: 700px) {
  .flex-grid .col {
    min-width: 45%;
  }
}

@media (max-width: 465px) {
  .flex-grid .col {
    min-width: 100%;
  }
}
